---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="ポートフォリオ"
  description="過去に制作した平面作品を紹介するページです。"
  index={true}
>
  <article class="thumb">
    <img src="/imgs/top/portfolio.png" alt="ポートフォリオ" />
  </article>
  <div class="hr"></div>

  <article class="catch">
    <p>
      このページでは、油絵やデジタル絵など、過去に描いた平面作品を紹介しています。
    </p>
  </article>

  <div class="hr"></div>

  <article class="item">
    <img src="/imgs/portfolio/charcoal/duck_still.png" alt="" loading="lazy" />
    <div class="detail">
      <span>
        <p class="title">アヒルのいる静物</p>
        <p>木炭紙、木炭　約12時間</p>
        <p>650 × 500 mm　木炭紙大サイズ</p>
      </span>
    </div>
  </article>

  <article class="item">
    <img
      src="/imgs/portfolio/charcoal/duck_still_detail.png"
      alt=""
      loading="lazy"
    />
    <div class="detail">
      <span>
        <p>拡大版。</p>
      </span>
    </div>
  </article>

  <div class="hr"></div>

  <article class="item">
    <img
      src="/imgs/portfolio/charcoal/garlic_still.png"
      alt=""
      loading="lazy"
    />
    <div class="detail">
      <span>
        <p class="title">にんにくのある静物</p>
        <p>木炭紙、木炭　約12時間</p>
        <p>650 × 500 mm　木炭紙大サイズ</p>
      </span>
    </div>
  </article>

  <article class="item">
    <img
      src="/imgs/portfolio/charcoal/garlic_still_detail.png"
      alt=""
      loading="lazy"
    />
    <div class="detail">
      <span>
        <p>拡大版。</p>
      </span>
    </div>
  </article>

  <div class="hr"></div>

  <article class="item">
    <img src="/imgs/portfolio/pencil/bathroom.png" alt="" loading="lazy" />
    <div class="detail">
      <span>
        <p class="title">洗面所</p>
        <p>板、ケント紙、鉛筆　約100時間</p>
        <p>594 × 420 mm　A2</p>
      </span>
    </div>
  </article>

  <article class="item">
    <img
      src="/imgs/portfolio/pencil/bathroom_detail.png"
      alt=""
      loading="lazy"
    />
    <div class="detail">
      <span>
        <p>拡大版。</p>
      </span>
    </div>
  </article>

  <div class="hr"></div>

  <article class="item">
    <img src="/imgs/portfolio/pencil/hand.png" alt="" loading="lazy" />
    <div class="detail">
      <span>
        <p class="title">手のある風景</p>
        <p>板、ケント紙、鉛筆　約30時間</p>
        <p>364 × 515 mm　B3</p>
      </span>
    </div>
  </article>

  <div class="hr"></div>

  <article class="item">
    <img src="/imgs/portfolio/oil/room.png" alt="" loading="lazy" />
    <div class="detail">
      <span>
        <p class="title">部屋</p>
        <p>板、油絵具　約120時間</p>
        <p>400 × 400 mm</p>
      </span>
    </div>
  </article>

  <article class="item">
    <img src="/imgs/portfolio/oil/room_detail.png" alt="" loading="lazy" />
    <div class="detail">
      <span>
        <p>拡大版。</p>
      </span>
    </div>
  </article>

  <article class="item">
    <img src="/imgs/portfolio/oil/room_process.png" alt="" loading="lazy" />
    <div class="detail">
      <span>
        <p>制作途中。</p>
      </span>
    </div>
  </article>

  <div class="hr"></div>

  <article class="item">
    <img src="/imgs/portfolio/oil/fried_noodle.png" alt="" loading="lazy" />
    <div class="detail">
      <span>
        <p class="title">焼きそば</p>
        <p>板、油絵具　約30時間</p>
        <p>530 × 652 mm　F15</p>
      </span>
    </div>
  </article>

  <div class="hr"></div>

  <article class="item">
    <img src="/imgs/portfolio/oil/portrait.png" alt="" loading="lazy" />
    <div class="detail">
      <span>
        <p class="title">肖像</p>
        <p>板、油絵具　約40時間</p>
        <p>180 × 140 mm　F0</p>
      </span>
    </div>
  </article>

  <div class="hr"></div>

  <article class="item">
    <img src="/imgs/portfolio/oil/bottle_still.png" alt="" loading="lazy" />
    <div class="detail">
      <span>
        <p class="title">ビンのある静物</p>
        <p>板、油絵具</p>
        <p>333 × 220 mm</p>
      </span>
    </div>
  </article>

  <div class="hr"></div>

  <article class="item">
    <img
      src="/imgs/portfolio/digital/space_travel_ready.png"
      alt=""
      loading="lazy"
    />
    <div class="detail">
      <span>
        <p class="title">宇宙旅行の準備</p>
        <p>デジタル　7時間</p>
        <p>UNDERTALEのファンアート</p>
      </span>
    </div>
  </article>

  <div class="hr"></div>

  <article class="item">
    <img src="/imgs/portfolio/digital/space_travel.png" alt="" loading="lazy" />
    <div class="detail">
      <span>
        <p class="title">宇宙旅行</p>
        <p>デジタル　7時間</p>
        <p>UNDERTALEのファンアート</p>
      </span>
    </div>
  </article>

  <div class="hr"></div>

  <article class="item">
    <img src="/imgs/portfolio/digital/woshua.png" alt="" loading="lazy" />
    <div class="detail">
      <span>
        <p class="title">ウォッシュア</p>
        <p>デジタル　2時間</p>
        <p>UNDERTALEのファンアート</p>
      </span>
    </div>
  </article>

  <div class="hr"></div>

  <article class="item">
    <img src="/imgs/portfolio/digital/sans.png" alt="" loading="lazy" />
    <div class="detail">
      <span>
        <p class="title">サンズ</p>
        <p>デジタル　12時間</p>
        <p>UNDERTALEのファンアート</p>
      </span>
    </div>
  </article>

  <article class="item">
    <img src="/imgs/portfolio/digital/sans_process.png" alt="" loading="lazy" />
    <div class="detail">
      <span>
        <p>制作途中。</p>
      </span>
    </div>
  </article>

  <div class="hr"></div>

  <article class="item">
    <img src="/imgs/portfolio/digital/two.png" alt="" loading="lazy" />
    <div class="detail">
      <span>
        <p class="title">ふたり</p>
        <p>デジタル　2時間</p>
        <p>UNDERTALEのファンアート</p>
      </span>
    </div>
  </article>

  <div class="hr"></div>

  <article class="item">
    <img src="/imgs/portfolio/digital/seven_th.png" alt="" loading="lazy" />
    <div class="detail">
      <span>
        <p class="title">７周年記念</p>
        <p>デジタル　50時間</p>
        <p>UNDERTALEのファンアート</p>
      </span>
    </div>
  </article>

  <article class="item">
    <img
      src="/imgs/portfolio/digital/seven_th_noframe.png"
      alt=""
      loading="lazy"
    />
    <div class="detail">
      <span>
        <p>枠なし。</p>
      </span>
    </div>
  </article>

  <article class="item">
    <img
      src="/imgs/portfolio/digital/seven_th_line.png"
      alt=""
      loading="lazy"
    />
    <div class="detail">
      <span>
        <p>線のみ。</p>
      </span>
    </div>
  </article>
</Layout>

<style>
  article {
    padding: 0 var(--base-padding);
  }

  .thumb img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 30px;
    border: solid 1px var(--middle-color);
    image-rendering: pixelated;
  }

  .catch p {
    padding: 0 30px;
    text-align: justify;
    font-size: 15px;
  }

  .item {
    padding: var(--base-padding) var(--base-padding);
  }

  .item img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 70vh;
    filter: drop-shadow(2px 2px 30px rgba(0, 0, 0, 0.3));
    object-fit: contain;
  }

  .detail {
    margin-top: 25px;
    text-align: right;
  }

  .detail > span {
    font-size: 7px;
    display: inline-block;
    text-align: left;
  }
  .detail > span {
    font-size: 7px;
    display: inline-block;
    text-align: left;
  }

  .detail > span > p {
    font-size: 10px;
  }
  .detail > span > p.title {
    margin-bottom: 3px;
    font-size: 16px;
  }
</style>
