---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="利用規約"
  description="サイトやアプリのご利用にあたっての利用規約。"
  index={false}
>
  <article>
    <h2>プライバシーポリシー</h2>
    <p>
      当ウェブサイトでは、お問い合わせの際に、メールアドレス等の個人情報を入力いただく場合がございます。
    </p>
    <p>
      取得した個人情報は、お問い合わせに対する回答や必要な情報を電子メールなどでご連絡する場合に利用させていただくものであり、これらの目的以外では利用いたしません。
    </p>
    <h2>サイトの内容に関する注意事項</h2>
    <p>
      当サイトからのリンクやバナーなどで移動したサイトで提供される情報、サービス等について一切の責任を負いません。
    </p>
    <p>
      サイトやアプリのコンテンツ・情報について、できる限り正確な情報を提供するように努めておりますが、正確性や安全性を保証するものではありません。情報が古くなっていることもございます。
    </p>
    <p>
      当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。
    </p>
    <h2>お問い合わせ</h2>
    <p>ご要望・ご質問等がありましたら「info@hujbvf.com」までお願い致します。</p>
  </article>
</Layout>

<style>
  article {
    padding: 0 var(--base-padding);
  }

  p {
    margin: var(--base-padding) 0;
  }
</style>
